<div class="container">
<div class="card">

<%= render 'category_table', category: "platinum", category_instance: @platinums %>

<%= render 'category_table', category: "gold", category_instance: @golds %>

<%= render 'category_table', category: "silver", category_instance: @silvers %>

<%= render 'category_table', category: "bronze", category_instance: @bronzes %>

<%= render 'category_table', category: "soon-to-be", category_instance: @soons %>

</div>
</div>