<!DOCTYPE html>
<html>
<head>
	<title>Duolingo Streak Tracker</title>
	<%= stylesheet_link_tag    'application', media: 'all' %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<%= analytics_init if Rails.env.production? %>
</head>
<body>
	<section id="main">
		<section id="content">
			<div class="card-header">
				<h2>duolingoStreakTracker</h2>
			</div>
			<%= yield %>
		</section>
	</section>
</body>
</html>